<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link data-react-helmet="true" rel="shortcut icon" type="image/png" href="../imgs/favicon.ico">
    <link rel="stylesheet" href="../css/bulma.min.css">
    <link rel="stylesheet" href="../css/bulma-docs.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <title>Github接口分析</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="columns">
                <div class="column" v-for="(item,key) in years">
                    <p class="bd-notification is-primary">
                        <!-- {{key}}<br>  -->
                        {{item.year}}
                        <br> {{item.total}}
                        <br> {{item.range.start}} / {{item.range.end}}
                    </p>
                </div>
            </div>
            <table class="table is-bordered">
                <thead>

                </thead>
                <tbody>
                    <tr v-for="item in contributions">
                        <td>
                            {{item.color}} {{item.count}} {{item.date}} {{item.intensity}}
                        </td> 
                        <!-- <td v-for="(date,index) in contributions" v-if="index<6">
                            {{date.color}}
                            {{date.count}}
                            {{date.date}}
                            {{date.intensity}}
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <table class="table is-bordered">
                <!-- <thead>
                    <tr>
                        <th>
                            Class
                        </th>


                        <th>
                            Mobile
                            <br> Up to
                            <code>768px</code>

                        </th>


                        <th>
                            Tablet
                            <br> Between
                            <code>769px</code> and
                            <code>1023px</code>

                        </th>


                        <th>
                            Desktop
                            <br> Between
                            <code>1024px</code> and
                            <code>1215px</code>

                        </th>


                        <th>
                            Widescreen
                            <br> Between
                            <code>1216px</code> and
                            <code>1407px</code>

                        </th>


                        <th>
                            FullHD
                            <br>

                            <code>1408px</code> and above

                        </th>

                    </tr>
                </thead> -->

                <!-- <tbody>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-mobile</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>

                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-tablet-only</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>

                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-desktop-only</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>

                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-widescreen-only</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>

                    </tr>
                    <tr>
                        <th colspan="5">
                            <p>Classes to display
                                <strong>up to</strong> or
                                <strong>from</strong> a specific breakpoint</p>
                        </th>
                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-touch</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>

                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-tablet</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>

                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-desktop</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>

                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-widescreen</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>

                    </tr>
                    <tr>
                        <td class="is-narrow">
                            <code>is-flex-fullhd</code>
                        </td>

                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification">unchanged</p>
                        </td>


                        <td class="is-narrow">
                            <p class="notification is-primary">flex</p>
                        </td>

                    </tr>
                </tbody> -->
            </table>

            <div class="title" v-for="item in years">
                {{item.year}} {{item.total}} {{item.range}}
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/echarts/echarts.min.js"></script>
<script>
    var header = new Vue({
        el: '#app',
        data: {
            years: [],
            contributions: []
        },
        methods: {

        },
        created: function () {
            let that = this;
            axios.get('https://github-contributions-api.now.sh/v1/gwemz', {
                params: {

                }
            }).then(function (res) {
                let data = res.data;
                that.years = data.years;
                that.contributions = data.contributions;
                console.log(data);
            })
                .catch(function (error) {
                    console.log(error);
                });
        }
    })

</script>

</html>