<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <h2>This is first page!</h2>
    <ul>
        <li><a href="/" target="_self">/</a></li>
        <li><a href="/index" target="_self">/index</a></li>
        <li><a href="/todo" target="_self">/todo</a></li>
        <li><a href="/404" target="_self">/404</a></li>
    </ul>
</body>
</html>